<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Account Verification</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}" type="text/css" />
    <script src="{{ url_for('static', filename='js/jquery.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>
</head>
<body>
    <div class="container" style="text-align: center; background-color: #eeeeee;">
        <div class="jumbotron" style="text-align: center; padding: 20px;"">
            <h2>Email Verification Link</h2>
            <p>Please verify your Email by clicking the button below.</p>
            <br>
            <a href='{{ activation_link }}' type="button"><button class="btn btn-primary" style="padding: 20px; font-size: 15px; border-radius: 5px; background-color: #0097e6; color: white;">Verify Me</button></a>
        </div>
    </div>
</body>
</html>