<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Account Verification</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}" type="text/css" />
	<script src="{{ url_for('static', filename='js/jquery.min.js')}}"></script>
	<script src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>
	<!-- <script type="text/javascript" src="../static/js/jquery.min.js"></script> -->
</head>
<body>
	<div class="container" style="text-align: center; background-color: #eeeeee;">
		<div class="jumbotron" style="text-align: center; padding: 20px;">
			<p id="resetLink" hidden>{{ reset_link }}</p>
			<label>Username :<p>{{ email }}</p></label><br>
			<label>Password :<input type="Password" name="Password" id="password"></label>	<br>	
			<label>Confirm Password :<input type="Password" name="confirmPassword" id="confirmPassword"></label>			
			<br>
			<button class="btn btn-primary" id="reset" type="button" style="padding: 20px; font-size: 15px; border-radius: 5px; background-color: #0097e6; color: white;">Reset Password</button>
		</div>
	</div>
	<script type="text/javascript">
		$('#reset').on('click', function() {
			console.log("reset clicked")
			var data = {
				"password" : $("#password").val(),
				"confirm_password" : $("#confirmPassword").val()
			};
			console.log( $("#resetLink").text());
			$.ajax({
				url: $("#resetLink").text(),
				type: 'post',
				data: JSON.stringify(data),
				processData: false,
				dataType: 'json',
				success: function(response) {
					// response = JSON.parse(response);
					console.log("Inside Success");
					console.log(response);
					

					if(response["status"] == true)
					{
						alert("password reset Successful")
					}
					else
					{
						alert("password reset Failed")
					}
				},
				failure: function(response) {
					console.log("Inside Failure");
					console.log(response);
					console.log("Something went wrong")
				},
				error: function(response) {
					console.log("Inside Error");
					console.log(response);
					console.log("Something went wrong")
				}
			});
		});
	</script>
</body>
</html>